body{
  margin: 0%;
  padding: 0%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #EEF5FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table,tr,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}
table{

  width: 1000px;
  height: 120px;
  text-align: center;
}
th{
  height: 40px;
  background-color:#5BBCFF;
}